.App {

}

.hidden{
  display: none;
}

.option-buttons{
  padding-top: 10px;
}

.option-buttons input{
  margin: 0 5px;
}

.error{
  color: red;
}

.error, .processed{
  padding-bottom: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
